name: Deploy to WordPress.org
on:
  push:
    branches:
    - "feat/diploy-automation"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
          cache-dependency-path: subdir/package-lock.json
      - run: npm install
      - run: npm run diploy-build
